 body{
   height: auto;
   align-content: center;
 }

  h2{
  height: 100px ;
  width: 50%;

}

.container{
    height: 50% ;
    width: 50% ;
    padding: 10px ;

}
.img-fluid{
        border: solid , 1px , black ;
        height: 200px ;
        float: left ;
        margin-bottom: :3em ;

}
