<<<<<<< HEAD
body{
  text-align: center;
  background-image:url(img/cellphones.jpg)
}
.search{
  width: 80%;
  margin-top: 50px;
  margin-right: 60px;
}
table{
  width: 80%;

}
th{
=======

body{
  text-align: center;
}
ul{
  background-color:
}
.search{
width: 60%;
margin-right: 100px;
>>>>>>> Amanda

}
