<<<<<<< HEAD
 body{
   height: auto;
   align-content: center;
 }

  h2{
  height: 100px ;
  width: 50%;

}

.container{
    height: 50% ;
    width: 50% ;
    padding: 10px ;

}
.img-fluid{
        border: solid , 1px , black ;
        height: 200px ;
        float: left ;
        margin-bottom: :3em ;

}

.About{
    margin-top: 100px ;

}

ul{
  margin-top: 120px;
=======
<<<<<<< HEAD
body{
  body {
      background-image: url("Hand_holding_smartphone_thumb800.jpg");

  }
}
.container {
    position: left;
    width: 100%;
    font-size: 20px;
    padding: 30px;
    text-align: center;
    margin-top: 3em;
}

.header {
    padding: 20px;
    text-align: center;
}

h1{

  font-weight: bolder;
  font-size: 30px;
  text-align: center;
=======
<<<<<<< HEAD
body{
  text-align: center;
  background-image:url(img/cellphones.jpg)
}
.search{
  width: 80%;
  margin-top: 50px;
  margin-right: 60px;
}
table{
  width: 80%;

}
th{
=======

body{
  text-align: center;
}
ul{
  background-color:
}
.search{
width: 60%;
margin-right: 100px;
>>>>>>> Amanda

>>>>>>> 2a003c861de179150e6c05809545f45ea115a712
>>>>>>> 591fd2632207e8c2d06ea06adab1c412add9c5b7
}
