/* *{
  margin: auto;
} */



.navs{
  margin-bottom: 5rem;
}
form{
  width: 60%;
  margin-bottom: 3rem;
  margin: auto;
}
h1{
  margin-bottom: 20px;
}

table{
  width: 70%;
  margin: auto;
  text-align: center;
}

.btnz{
  margin-bottom : 2rem;
  text-align: center;

}

.tabledisplay{
   text-align: left;
   /* min-height: 260px; */
}

#map{
  width: 60%;
  height: 350px;
  margin: auto;
  margin-top : 1.5rem;
}

footer{
  position: static;
  bottom:0;
  width: 100%;
  margin-top : 2rem;
  background-color: #333;
  color: white;
   text-align: center;
}
