*{
  margin: auto;
  text-align: center;
}


<<<<<<< HEAD
=======

>>>>>>> 591fd2632207e8c2d06ea06adab1c412add9c5b7
.navs{
  margin-bottom: 5rem;
}
form{
  width: 60%;
  margin-bottom: 3rem;
}
h1{
  margin-bottom: 20px;
}

table{
  width: 70%;
}

.btnz{
  margin-bottom : 2rem;
}


footer{
  background-color: #333;
  color: white;
  margin-top: 3rem;
  bottom: 0;
  position: absolute;
  width: 100%;
}
